<ion-view view-title="LIBER-777">
  <ion-content class="padding">
    <div class="centralize-container">
      <div id="otz-chiim-container">
        <img id="otz-chiim"src="img/treeoflife.gif">
        <a href="#/tab/chats" id="sephirah-1" class="sephirah" ng-click="explore($event)"></a>
        <a href="#/tab/chats" id="sephirah-2" class="sephirah" ng-click="explore($event)"></a>
        <a href="#/tab/chats" id="sephirah-3" class="sephirah" ng-click="explore($event)"></a>
        <a href="#/tab/chats" id="sephirah-4" class="sephirah" ng-click="explore($event)"></a>
        <a href="#/tab/chats" id="sephirah-5" class="sephirah" ng-click="explore($event)"></a>
        <a href="#/tab/chats" id="sephirah-6" class="sephirah" ng-click="explore($event)"></a>
        <a href="#/tab/chats" id="sephirah-7" class="sephirah" ng-click="explore($event)"></a>
        <a href="#/tab/chats" id="sephirah-8" class="sephirah" ng-click="explore($event)"></a>
        <a href="#/tab/chats" id="sephirah-9" class="sephirah" ng-click="explore($event)"></a>
        <a href="#/tab/chats" id="sephirah-10" class="sephirah" ng-click="explore($event)"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
