<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Otz Chiim" icon-off="ion-android-funnel" icon-on="ion-android-funnel" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Tables" icon-off="ion-android-menu" icon-on="ion-android-menu" href="#/tab/chats" ng-click="clearSephirahId()">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

</ion-tabs>
